<%= link_to(coffees_path) do %>
  <i class="fas fa-arrow-left back-btn p-2"></i>
<% end %>

<h1>My bookmarked coffees:</h1>

<div class="cards">
  <% @bookmarks.each do |bookmark| %>
    <% coffee = Coffee.find(bookmark["coffee_id"]) %>
    <%= render "coffees/preview_card_coffee", coffee: coffee %>
  <% end %>
</div>
