<%# <%= link_to fa_icon("sharp regular circle-arrow-left"), coffees_path %>
<a href=“#”><i class="fa-sharp fa-regular fa-circle-arrow-left"></i></a>

<h1>My bookmarked coffees:</h1>

<div class="cards">
  <% @bookmarks.each do |bookmark| %>
    <% coffee = Coffee.find(bookmark["coffee_id"]) %>
    <%= render "coffees/preview_card_coffee", coffee: coffee %>
  <% end %>
</div>
