<div class="card-preview" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/featured/?dinner&<%= rand(1..1000) %>')">
  <%= link_to coffee.name, coffee_path(coffee) %>
</div>
