<div class="d-flex justify-content-between mb-3">
  <h1 class="m-0">Coffees:</h1>
  <div>
    <% if user_signed_in? %>
      <%= link_to "Add coffee", new_coffee_path, class: "btn-primary-cta" %>
    <% end %>
  </div>
</div>

<%= render "coffees/search_form" %>


<div class="cards">
  <% @coffees.each do |coffee| %>
    <%= render "coffees/preview_card_coffee", coffee: coffee %>
  <% end %>
</div>
