<div class="mx-3">
  <%= link_to(coffees_path) do %>
    <i class="fas fa-arrow-left back-btn p-2"></i>
  <% end %>

  <h1>Add the details for your coffee here:</h1>

  <%= render "coffees/form", coffee: @coffee %>
</div>
