<%= link_to(coffees_path) do %>
  <i class="fas fa-arrow-left back-btn p-2"></i>
<% end %>

<h2 class="chat">Please choose your preference</h2>
<div class="chatcontainer">
  <% @chatrooms.each do |chatroom| %>
    <div class="chat">
      <%= link_to chatroom.name, chatroom_path(chatroom) %>
    </div>
  <% end %>
</div>
