<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1507133750040-4a8f57021571?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvZmZlZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <%# <h2 class="mb-3">Speciality Coffee</h2> %>
    <h2 class="mb-3">Did you just drink a very delicious cup of specialty coffee?</h2>
    <h3 class="mb-3">Explore a hug in a mug.</h3>
    <%= render "coffees/search_form" %>
  </div>
</div>
