<div class="banner" >
  <video playsinline autoplay muted loop class="video">
    <source src="https://res.cloudinary.com/dak3altpj/video/upload/v1678872788/pexels-ron-lach-6938926_cfxnjl.mp4" type="video/mp4">
    <%# <source src="https://res.cloudinary.com/dak3altpj/video/upload/v1678872773/pexels-cup-of-couple-6963730_incjsh.mp4" type="video/mp4"> %>
  </video>
  <div class="banner-content">
    <h2 class="mb-4">Did you just drink a very delicious cup of coffee?</h2>
    <h3 class="mb-4">We help you to never forget your favorite cups anymore.</h3>
    <%= render "coffees/search_form" %>
  </div>
</div>
<%# </div> %>
