<section class="section-how-to mt-3">
  <h2 class="gallery-headline">How it works:</h2>
  <div class="image-gallery">
    <div class="img-flex-item">
      <div class="img-border"><i class="fa-solid fa-magnifying-glass"></i></div>
      <div class="img-caption">1. Search for a coffee</div>
    </div>
    <div class="img-flex-item">
      <div class="img-border"><i class="fa-solid fa-mug-saucer"></i></div>
      <div class="img-caption">2. Select the coffee you want</div>
    </div>
    <div class="img-flex-item">
      <div class="img-border"><i class="fa-solid fa-bookmark"></i></div>
      <div class="img-caption">3. Explore the details and bookmark</div>
    </div>
    <div class="img-flex-item">
      <div class="img-border"><i class="fa-solid fa-face-smile"></i></div>
      <div class="img-caption">4. Review it</div>
    </div>
  </div>
</section>
