<%= link_to(coffees_path) do %>
  <i class="fas fa-arrow-left back-btn p-2"></i>
<% end %>

<div class="about mx-3">
  <h3>What motivates us?</h3>
  <p>Everyone loves exceptional coffee experiences. Therefore we decided to help you never forget your favorite cups anymore.</p>
  <p>We are just starting with this app in March 2023, aiming for creating a stronger community around specialty coffee and a related lively discussion.</p>
  <p>All of us are driven by the joy of highest quality coffees, no matter if pouring a perfectly sweet espresso shot or a super fruity filter.</p>
  <p>While acurate brew recipes or origin's details are already a pretty nerdy topic, they are hard to remember most of the times without taking notes.</p>
  <p>So the app should help you bookmark you're favorite coffees, as well as discovering new ones you might want to try soon.</p>
  <%= link_to "Buy us a coffee ☕️", "https://www.buymeacoffee.com/scdiary", target: "_blank", class: "btn-primary-cta btn-width-100" %>
</div>
