<%= render "pages/banner", class: "m-3" %>
<div class="home">

  <div class="m-3">
    <p>Just starting with this app in 2023, aiming for creating a stronger community around specialty coffee and a related lively discussion.</p>
    <p>We are driven by the joy of highest quality coffees, no matter if pouring a perfectly sweet espresso shot or a super fruity filter.</p>
    <p>While acurate brew recipes or origin's details are already a pretty nerdy topic, they are hard to remember most of the times without taking notes.</p>
  </div>

  <div class="carousel-bg p-3">
    <h2>Coffees of the day:</h2>
    <%= render "coffees/random_coffees", coffees: @coffees %>
  </div>

  <div>
    <%= render "pages/how_it_works" %>
  </div>
</div>
