.banner {
  background-size: 844px;
  background-position: center;
  padding: 150px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: bottom 0;

  height: auto;
}
.responsive {
  width: 100%;
  height: auto;
}
