.btn-primary-cta {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.16px;
  background-color: $call-to-action;
  border-radius: 0;
  width: 182px;
  height: 51.25px;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: $background-white;
  border: none;
}


.btn-primary-cta:hover {
  color: $background-white;
  background-color: $hover;
}

.btn-secondary {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.16px;
  border-radius: 0;
  width: 182px;
  height: 51.25px;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: $call-to-action;
  background-color: transparent;
  border: 1px solid $call-to-action;
}

.btn-secondary:hover {
  background-color: $hover;
  color: $background-white;
}

.back-btn {
  font-size: 24px;
  color: $lines-and-back-btns;
}
