.chatroom {
  background: $background-white;
  margin-top: 9px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin: 5px;


  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
    color: $text;
    text-align: center;
    background-color: $call-to-action;
  }
  .btn{
    background-color: $call-to-action !important;
    border: none !important;
  }

  .all{
    height: 70%;
    display: flex;
  }

  .users {
    height: 100%;
    width: 20%;
    flex-basis: 20%;
    background-color: $background-cream !important;
    color: $background-cream;
  }

  .user{
    background-color: $call-to-action ;
    margin: 5px;
    padding: 4px;
    border-radius: 4px;
    text-align: center;
  }


  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    flex-basis: 80%;
  }
  .message{
    background-color: $background-cream;
    color: $text;
    border-radius: 16px;
    padding: 2px 6px;
    margin-bottom: 4px;
  }

  .form-control{
    margin-right: 2px !important;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
