.detail-card-description {
  background-color: $background-cream;
  padding: 16px;



    animation: mymove 5s infinite;


  @keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
  }
}
