.section-how-to {
  padding: 16px 0;
  color: $text;
  background-color: #f4f1e7;
  height: auto;
  h2{
    margin: 12px 0 24px;
  }
}

.gallery-headline {
  text-align: center;
}

.image-gallery {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
}

.img-flex-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
  .img-caption{
    text-align: center;
  }
}

.img-border {
  width: 160px;
  height: 160px;
  border: 3px solid $lines-and-back-btns;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  color: $lines-and-back-btns;
}



.responsive {
  flex-grow: auto;
}
.home {
  display:flex;
  flex-direction: column;
  column-gap: 0;
  background-color: #f4f1e7;

}

@media screen and (max-width: 800px) {
  .background > img {
    height: 100vw;
    width: 100%;
  }
  .image-gallery{
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .image-gallery{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1000px) {
  .image-gallery{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
