.margin-left-form{
  margin: 12px !important;
}

.text-decoration{
  text-decoration: none !important;
}

.form-heading{
  margin-left: 8px !important;
}

.forget-password {
  text-decoration: none !important;
  color: $text !important;
}
.nav-logout{
  width: 100% !important;
}
