path {
  fill: $call-to-action;
}

.mapboxgl-popup-content {
  text-align: center;
}
.mapboxgl-popup-content p {
  margin: 0;
}

.location-map{
  display: flex;
  h6{
    padding-top: 8px;
  }
}
.fa-location-dot{
  margin-right: 10px;
  color: $headers !important;
  font-size: 10px;
  padding-top: 0 !important;
}

.detail-heading{
  margin-bottom: 0;
}
