.navbar-lewagon {
  justify-content: space-between;
  background: $background-white;
  font-size: 32px;
  color: $headers;
  border-bottom: 1px solid $lines-and-back-btns !important;
  margin-bottom: 6px;
  margin-bottom: 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.dropdown-menu{
  font-size: 32px;
  margin-left: 30px;
  width: 50%;
  padding: 0;
  text-align: center;

}

.nav-logout{
  background-color: $background-white;
  border: 1px solid $call-to-action;
  color: $call-to-action;
}

a.navbar-brand > img {
  width: 200px;
}

.nav-link {
  color: $headers;
}

/* .nav-link{
  background-color: $background-white;;
}
.nav-link:after{
  position: absolute;
  background-color: $call-to-action;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
}
.nav-link:hover:after{
  width: 100%;
}
 */
