.review-content{
  margin: 10px;
  color: $text;
}

.fa-star{
  color: $call-to-action;
}

.fa-trash{
  color: $call-to-action;
}
.dropdown-menu{
  width: 100%;
  height: 100vh;
  margin: 10px o;
}

.dropdown-menu h3{
  margin: 10px, 0;
}
.review-buttons{
  display: flex;
  margin-left: 26px;

.btn-primary-cta{
  flex-basis: 40%;
  margin: 4px 4px 20px 4px;
  padding: 4px;
  }
.btn-secondary{
    flex-basis: 40%;
    margin: 4px;
    padding: 4px;
    }
}
.review-content{
  background-color: $background-cream;
}
