.reviews-dropdown {
  padding: 16px;
}
.reviews-dropdown.dropdown-menu {
  border: none;
  border-radius: 0;
}

.fa-star{
  color: $headers;
}

.fa-trash{
  color: $call-to-action;
}

.reviews-dropdown{
  width: 100%;
  height: 100vh;
  margin: 10px 0;
}

.dropdown-menu h3{
  margin: 10px, 0;
}

.review-content{
  color: $text;
  background-color: $background-cream;
  padding: 12px;
}

.review-content p {
  margin: 0;
}
